<a href="https://colab.research.google.com/github/lschuler-dotcom/capstone_project/blob/main/notebooks/capstone_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Students' Social Media Addiction
### Cleaning and EDA

**Import Packages & Datasets**

In [2]:
#Import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Import dataset
from google.colab import files
uploaded = files.upload()

Saving wbg_population.csv to wbg_population.csv
Saving wbg_perc_int_users.csv to wbg_perc_int_users.csv
Saving wbg_gdp.csv to wbg_gdp.csv
Saving students_social_media_addiction.csv to students_social_media_addiction.csv

**Create dataframes**

In [4]:
#Create data frame (read dataset)
df_ssma = pd.read_csv('students_social_media_addiction.csv')
df_perc_iu_wide = pd.read_csv('wbg_perc_int_users.csv')
df_gdp_wide = pd.read_csv('wbg_gdp.csv')
df_pop_wide = pd.read_csv('wbg_population.csv')

**Inspect dataframes**

In [15]:
# Quick view of addiction data
df_ssma.head(1)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8

In [14]:
# Quick view of population data
df_pop_wide.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,107906.0,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0,107624.0

In [13]:
# Quick view of GDP data
df_gdp_wide.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27458.225331,27441.529662,28440.051964,30082.127645,31096.205074,22855.93232,27200.061079,30559.533535,33984.79062,NaN

In [12]:
# Quick view of % internet usage data
df_perc_iu_wide.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.6612,93.5425,97.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_ssma.columns

Index(['student_id', 'age', 'gender', 'academic_level', 'country_name',
       'avg_daily_usage_hours', 'most_used_platform',
       'affects_academic_performance', 'sleep_hours_per_night',
       'mental_health_score', 'relationship_status',
       'conflicts_over_social_media', 'addicted_score'],
      dtype='object')

In [29]:
print(df_ssma['country_name'].unique()value_counts)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2927589004.py, line 1)

**Before numerical tests - remove earlier year columns from world bank dataframes**

In [11]:
# Remove earlier years data from wbg dataframes
df_piu = df_perc_iu_wide[["Country Name", 'Country Code', 'Indicator Name','Indicator Code','2024','2023','2022']]
df_pop = df_pop_wide[["Country Name", 'Country Code', 'Indicator Name','Indicator Code','2024','2023','2022']]
df_gdp = df_gdp_wide[["Country Name", 'Country Code', 'Indicator Name','Indicator Code','2024','2023','2022']]

In [17]:
print(df_piu.columns)
print("\n",df_gdp.columns)
print("\n",df_pop.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '2024', '2023', '2022'],
      dtype='object')

 Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '2024', '2023', '2022'],
      dtype='object')

 Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '2024', '2023', '2022'],
      dtype='object')

**Numerical summary statistics**

In [ ]:
print("\nSummary statistics for percent internet users")
df_piu.info()

print("\nSummary statistics for percent internet users")
df_piu.info()

print("\nSummary statistics for percent internet users")
df_piu.info()

**Standardise columns**

In [19]:
# SSM Addiction df
df_ssma.columns = df_ssma.columns.str.strip().str.lower()
df_ssma.rename(columns={'country': 'country_name'}, inplace=True)

In [20]:
# Review df
df_ssma.columns

Index(['student_id', 'age', 'gender', 'academic_level', 'country_name',
       'avg_daily_usage_hours', 'most_used_platform',
       'affects_academic_performance', 'sleep_hours_per_night',
       'mental_health_score', 'relationship_status',
       'conflicts_over_social_media', 'addicted_score'],
      dtype='object')

In [ ]:
# PIU df
df_piu.columns = df_piu.columns.str.strip().str.lower()
df_piu.rename(columns={"country name": "country_name",
                       "country code": "country_code",
                       "indicator name": "indicator_name",
                       "indicator code": "indicator_code",
                       "2022":"piu_2022",
                       "2023":"piu_2023",
                       "2024":"piu_2024"
                       },inplace=True

)
df_pop.head(2)

In [ ]:
# Population df
df_pop.columns = df_pop.columns.str.strip().str.lower()
df_pop.rename(columns={"country name": "country_name",
                       "country code": "country_code",
                       "indicator name": "indicator_name",
                       "indicator code": "indicator_code",
                       "2022":"pop_2022",
                       "2023":"pop_2023",
                       "2024":"pop_2024"
                       },inplace=True

)
df_pop.head(2)

In [ ]:
# GDP df
df_gdp.columns = df_gdp.columns.str.strip().str.lower()
df_gdp.rename(columns={"country name": "country_name",
                       "country code": "country_code",
                       "indicator name": "indicator_name",
                       "indicator code": "indicator_code"
                       "2022":"gdp_2022",
                       "2023":"gdp_2023",
                       "2024":"gdp_2024"
                       },inplace=True
)
df_gdp.head(2)

In [ ]:
# % Internet Usage (piu) df
df_piu.columns = df_gdp.columns.str.strip().str.lower()
df_piu.rename(columns={"country name": "country_name",
                       "country code": "country_code",
                       "indicator name": "indicator_name",
                       "indicator code": "indicator_code"},inplace=True
)
df_gdp.head(2)

**Join tables**

In [ ]:
df_ssma.head(2)

In [ ]:
df_merged = (
    df_add
    .merge(df_pop, on="country_name", how='inner')
    .merge(df_gdp, on="country_name", how='inner')
    .merge(df_piu, on="")
)
df_consol = df_merged[['student_id', 'age', 'gender', 'academic_level',
                       'avg_daily_usage_hours', 'most_used_platform',
                       'affects_academic_performance', 'sleep_hours_per_night',
                       'mental_health_score', 'relationship_status',
                       'conflicts_over_social_media', 'addicted_score',
                       'country_name', 'country_code_x', '2024_x','2024_y']]

df_consol.rename(columns={"country_code_x": "country_code",
                          '2024_x':"2024_population",
                          '2024_y':"2024_gdp"},
                          inplace=True
)
df_consol.head(2)

In [ ]:
df_consol.columns

In [ ]:
#Dataset information
df_consol.info()

In [ ]:
#Summary Stats (Numerical Vals)
df_consol.describe()

In [ ]:
#Summary Stats (Categorical Vals)
df_consol.select_dtypes(include=['object']).value_counts()